<ion-view animation="nav-title-slide-ios7">

  <header class="bar bar-header bar-positive">
    <div class="buttons">
      <a class="button button-icon icon ion-ios7-arrow-back" ng-click="back()"></a>
    </div>
    <h1 class="title">About</h1>
  </header>
  
  <ion-content class="has-header" style="text-align:center;">

    <div class="list card">
      <div class="item item-body">
        <!-- <img class="full-image" src="img/logo-128.png"> -->
        <span>Build&nbsp; dev</span>
        <br>
        <span>Server running for&nbsp;5 minutes</span>
        <br><br>
        Crafted with love in Palo Alto, CA and around the world by Jim Alateras, François Beaufils, Pascal Belloncle, Jacques-Alexandre Gerber, Ismael Ghalimi, Hugues Malphettes, and Florian Ribon, with major support from Paul Maritz, Patrick Scaglia, and Roger Sippl.
        <br><br>
        <a href="http://www.stoic.com/pages/stoic/terms" target="_blank" style="color: #08c;text-decoration: none;">Terms of services</a>

      </div>
    </div>

  </ion-content>
</ion-view>