<?xml version='1.0' encoding='utf-8'?>
<widget id="com.zhipeng.jtodo" version="0.1.1" android-versionCode="3" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>JToDo</name>
    <description>
        Hybrid TODO app, built on ionic framework.
    </description>
    <author email="jesusjzp@gmail.com" href="http://jesusjzp.github.io/">
        Zhipeng Jiang
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="fullscreen" value="false" />
    <preference name="webviewbounce" value="true" />
    <preference name="UIWebViewBounce" value="true" />
    <preference name="DisallowOverscroll" value="true" />
</widget>
